<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>

  <!--<system.serviceModel>
    <services>
      <service behaviorConfiguration="Service" name="WcfService.Service.CmdService">
        <host>
          <baseAddresses>
            <add baseAddress="http://127.0.0.1:8888/CmdService/"/>
          </baseAddresses>
        </host>
        <endpoint address="" binding="basicHttpBinding" contract="WcfService.Interface.ICmdService" />
      </service>
    </services>
    
    <behaviors>
      <serviceBehaviors>
        <behavior name="Service">
          <serviceMetadata httpGetEnabled="true"/>
        </behavior>
      </serviceBehaviors>
    </behaviors>
  </system.serviceModel>-->

  <system.serviceModel>
    <behaviors>
      <serviceBehaviors>
        <behavior name="WcfServicebehavior">
          <serviceDebug httpHelpPageEnabled="false"/>
          <serviceMetadata httpGetEnabled="false"/>
          <serviceTimeouts transactionTimeout="00:10:00"/>
          <serviceThrottling maxConcurrentCalls="1000" maxConcurrentInstances="1000" maxConcurrentSessions="1000"/>
        </behavior>
      </serviceBehaviors>
    </behaviors>

    <bindings>
      <netTcpBinding>
        <binding name="tcpbinding">
          <security mode="None">
            <transport clientCredentialType="None" protectionLevel="None"/>
          </security>
        </binding>
      </netTcpBinding>
    </bindings>
    <services>
      <service name="WcfService.Service.CmdService" behaviorConfiguration="WcfServicebehavior">
        <host>
          <baseAddresses>
            <add baseAddress="net.tcp://localhost:12333/CmdService"/>
          </baseAddresses>
        </host>
        <endpoint address="" binding="netTcpBinding" bindingConfiguration="tcpbinding" contract="WcfService.Interface.ICmdService"/>
        <endpoint address="mex" binding="mexTcpBinding" contract="IMetadataExchange"/>
      </service>
    </services>
  
    <protocolMapping>
      <add binding="basicHttpsBinding" scheme="https" />
    </protocolMapping>        
    <serviceHostingEnvironment aspNetCompatibilityEnabled="true" multipleSiteBindingsEnabled="true" />

  </system.serviceModel>
</configuration>