<configuration>
  <configSections>
    <section name="unity" type="Microsoft.Practices.Unity.Configuration.UnityConfigurationSection, Microsoft.Practices.Unity.Configuration"/>
  </configSections>
  <unity>
    <!--<sectionExtension type="Microsoft.Practices.Unity.InterceptionExtension.Configuration.InterceptionConfigurationExtension, Microsoft.Practices.Unity.Interception.Configuration"/>-->
    <containers>
      <container name="MyContainer">
        <!--DBContext:线程唯一-->
        <register type="System.Data.Entity.DbContext,EntityFramework"  mapTo="PMY.CompilationSystem.Model.CompilationSystemEntities,PMY.CompilationSystem.Model">
          <lifetime type="perthread"/><!--注意：这里配置区分大小写，这里要小写的-->
        </register>
        <!--数据会话层:线程唯一-->
        <register type="PMY.CompilationSystem.IService.IDBSession,PMY.CompilationSystem.IService"  mapTo="PMY.CompilationSystem.Service.DBSession,PMY.CompilationSystem.Service">
          <lifetime type="perthread"/> <!--注意：这里配置区分大小写，这里要小写的-->
        </register>
        
        <!--Service层-->
        <register type="PMY.CompilationSystem.IService.ISVNFoldersService,PMY.CompilationSystem.IService"  mapTo="PMY.CompilationSystem.Service.SVNFoldersService,PMY.CompilationSystem.Service"/>
        <register type="PMY.CompilationSystem.IService.IUsersService,PMY.CompilationSystem.IService"  mapTo="PMY.CompilationSystem.Service.UsersService,PMY.CompilationSystem.Service"/>
        <register type="PMY.CompilationSystem.IService.IProjectsService,PMY.CompilationSystem.IService"  mapTo="PMY.CompilationSystem.Service.ProjectsService,PMY.CompilationSystem.Service"/>  
        <register type="PMY.CompilationSystem.IService.ITaskListService,PMY.CompilationSystem.IService"  mapTo="PMY.CompilationSystem.Service.TaskListService,PMY.CompilationSystem.Service"/>
        <register type="PMY.CompilationSystem.IService.IProjectClassService,PMY.CompilationSystem.IService"  mapTo="PMY.CompilationSystem.Service.ProjectClassService,PMY.CompilationSystem.Service"/>
        <register type="PMY.CompilationSystem.IService.IMenuService,PMY.CompilationSystem.IService"  mapTo="PMY.CompilationSystem.Service.MenuService,PMY.CompilationSystem.Service"/>

        <!--RemoteService(远程服务)层-->
        <register type="PMY.CompilationSystem.IRemoteService.ICmdService,PMY.CompilationSystem.IRemoteService"  mapTo="PMY.CompilationSystem.RemoteService.CmdService,PMY.CompilationSystem.RemoteService"/>

      </container>
    </containers>
  </unity>
</configuration>
