<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <netTcpBinding>
                <binding name="NetTcpBinding_ICmdService">
                    <security mode="None" />
                </binding>
            </netTcpBinding>
        </bindings>
        <client>
            <endpoint address="net.tcp://localhost:12333/CmdService" binding="netTcpBinding"
                bindingConfiguration="NetTcpBinding_ICmdService" contract="WcfServiceReference.ICmdService"
                name="NetTcpBinding_ICmdService" />
        </client>
    </system.serviceModel>
</configuration>